/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    border: 1px solid grey;
}

li {
    padding: 1px;
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

li:nth-child(2n) {
    background-color: beige;
}